body{
    margin:0;
    padding:0;
    background-color: #24cf06;
}
#wrapper{
    max-width:400px;
    margin:0 auto;
    margin-top:10px;
    background-color: whitesmoke;
    border:solid 2px black;
}
h1{
    font-family: 'Permanent Marker', cursive;
    font-size:50px;
    color:#24cf06;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-decoration: underline black;
    text-align: center;
    margin:0;
}
.button-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
button{
    font-family: 'Fredoka One', cursive;
    font-size:25px;
    padding:5px 20px;
    margin:20px 10px; 
    border:solid 3px black;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
}
.Skoletid{
    background-color: #1414cc;
}
.Pause{
    background-color: #d11f0b;
}
.Oplæg{
    background-color: #ce09d1;
}
.Færdig{
    background-color: #000;
}
.Code-Along{
    background-color: #f0c91d;
}

.currentTime, .message{
    text-align: center;
    font-size:35px;
    font-family: 'Permanent Marker', cursive;
    color:#24cf06;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-decoration: underline black 2px;
    margin:7px 0;
}